body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
  }

  h1 {
    color: #333;
    margin-bottom: 20px;
  }

  #stop:hover {
    background-color: #dd1111;
  }

  #start:hover {
    background-color: #4cae4c;
  }

  button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }

  div{
    text-align: center;
    width: 400px;
    height: 100px;
    font-size: 20px;
  }

  input {
    font-size: 20px;
  }


button {
  background-color: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
  text-align: center;
  }
  
  button.active {
    background-color: #ccc;
  }
  
  button:hover p {
    left: 0.6em;
    color: #fff
  }
  
  button:hover svg {
    opacity: 1;
  }
  
  